version: '3.9'

services:
  andon-signals:
    build: .
    container_name: andon-signals
    restart: always
    volumes:
      - .:/app
      - sqlite_data:/app/db.sqlite3  # Dodanie wolumenu na bazę SQLite
    ports:
      - "8000:8000"
    env_file:
      - .env

  nginx-proxy-manager:
    image: jc21/nginx-proxy-manager:latest
    container_name: nginx-proxy-manager
    restart: always
    ports:
      - "80:80"
      - "81:81"     # panel zarządzania NGINX Proxy Manager
      - "443:443"
    volumes:
      - ./nginx/data:/data
      - ./nginx/letsencrypt:/etc/letsencrypt

volumes:
  sqlite_data:  # Definicja wolumenu dla SQLite
