{% extends "base.html" %}
{% block title %}MODUŁ PLANISTY{% endblock %}

{% block content %}
<div class="cyber-container">
    <div class="text-center mb-5">
        <h1 class="mb-3"><i class="bi bi-calendar3-week"></i> MODUł PLANISTY</h1>
        <p class="text-light-color">ZARZĄDZANIE DANYMI I HARMONOGRAMEM PRODUKCJI</p>
    </div>

    <!-- Sekcja Zarządzania Danymi -->
    <h3 class="mb-4">ZARZĄDZANIE DANYMI</h3>
    <div class="cyber-grid-container mb-5">
        <a href="{% url 'upload_plan' %}" class="text-decoration-none">
            <div class="cyber-card text-center ticket-card-large">
                <div class="card-icon-top" style="color: var(--primary-color);">
                    <i class="bi bi-cloud-upload-fill"></i>
                </div>
                <h3>WGRAJ PLAN PRODUKCJI</h3>
            </div>
        </a>
        <a href="{% url 'upload_status' %}" class="text-decoration-none">
            <div class="cyber-card text-center ticket-card-large">
                <div class="card-icon-top" style="color: var(--warning-color);">
                    <i class="bi bi-cloud-upload-fill"></i>
                </div>
                <h3>WGRAJ STATUS ZLECEŃ</h3>
            </div>
        </a>
        <a href="{% url 'upload_production_log' %}" class="text-decoration-none">
            <div class="cyber-card text-center ticket-card-large">
                <div class="card-icon-top" style="color: var(--success-color);">
                    <i class="bi bi-cloud-upload-fill"></i>
                </div>
                <h3>WGRAJ DZIENNIK PRODUKCJI</h3>
            </div>
        </a>
    </div>

    <!-- Sekcja Podglądu i Raportów -->
    <h3 class="mb-4">PODGLĄD I RAPORTY</h3>
    <div class="cyber-grid-container">
        <a href="{% url 'production_plan' %}" class="text-decoration-none">
            <div class="cyber-card text-center ticket-card-large">
                <div class="card-icon-top">
                    <i class="bi bi-calendar-check"></i>
                </div>
                <h3>PODGLĄD PLANU</h3>
            </div>
        </a>
        <a href="{% url 'production_report' %}" class="text-decoration-none">
            <div class="cyber-card text-center ticket-card-large">
                <div class="card-icon-top">
                    <i class="bi bi-bar-chart-line-fill"></i>
                </div>
                <h3>RAPORT PRODUKCJI</h3>
            </div>
        </a>
    </div>
</div>
{% endblock %}
